@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

// General text
body, a {

    line-height: 1.7;
    font-weight: 400;
    font-family: $ff-text;
    color: $color-text;
    font-size: $fs-small;

}

// Titles
h1,
h2,
h3,
h4 {
    font-family: $ff-title;
    margin: inherit;
    font-weight: bold;
}