.main {
    padding-top: 1rem;
    

    
}

.autre .main {
    width: 100%;
    border-radius: 2rem 2rem 0 0;
}

// .autre .main {
//     background-color: $bg-icon;
//     position: absolute;
//     width: 375px;
//     height: 1307px;
//     left: calc(50% - 375px/2);
//     top: 283px;
// }

