// Colors
$color-text: #000;
$color-first: #FF79DA;
$color-second: #99E2D0;
$color-tertiaire: #9356DC;
// $color-button: #;
// $color-bg-first: #;

// Font family
$ff-title: 'Shrikhand', cursive, serif, sans-serif;
$ff-text: 'Roboto', serif, sans-serif;

// Font Weight 
$fw-small: 100;
$fw-medium: 400;
$fw-bold: 700;
$fw-bolder: 900;

// Font size
$fs-small: 1rem;
$fs-default: 1.6rem;
$fs-medium: 1.4rem;
$fs-large: 1.6rem;

// Breakpoints for responsive
$breakpoint-small: 600px;
$breakpoint-medium: 900px;
$breakpoint-large: 1200px;
$breakpoint-large: 1400px;



